<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="Action_LoginForm"
     service="Com.GainWinSoft.ERP.Action.IAction_LoginForm,Com.GainWinSoft.ERP"
     type="Com.GainWinSoft.ERP.Action.Action_LoginForm, Com.GainWinSoft.ERP" />

  </components>
</configuration>