<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
  
  
      <!--  <component id="Action_MaterialSearch"
      type="Com.GainWinSoft.ERP.Material.Action.Action_MaterialSearch, Com.GainWinSoft.ERP.Material" />-->
      <component id="DockContent"
        type="WeifenLuo.WinFormsUI.Docking.DockContent,WeifenLuo.WinFormsUI.Docking" />

      <component id="DockPanel"
        type="WeifenLuo.WinFormsUI.Docking.DockPanel,WeifenLuo.WinFormsUI.Docking" />

      <component id="FCompany"
        service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
        type="Com.GainWinSoft.ERP.Company.FrmCompany,Com.GainWinSoft.ERP.Company" 
        lifestyle="transient"/>
    
        <component id="FQuotationEntry"
        service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
            type="Com.GainWinSoft.ERP.ProductPlan.FrmProductPlan, Com.GainWinSoft.ERP.ProductPlan"
            lifestyle="transient" />

        <component id="FExchangeRate"
        service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
            type="Com.GainWinSoft.ERP.ExchangeRate.FrmExchangeRate, Com.GainWinSoft.ERP.ExchangeRate"
            lifestyle="transient" />

      <component id="FMaterial"
        service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
          type="Com.GainWinSoft.ERP.Material.FrmMaterialSearch, Com.GainWinSoft.ERP.Material"
          lifestyle="transient" />

      <component id="FFactory"
        service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
          type="Com.GainWinSoft.ERP.Factory.FrmFactory, Com.GainWinSoft.ERP.Factory"
          lifestyle="transient" />
    
     <component id="FMaterialPrice"
        service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
          type="Com.GainWinSoft.ERP.MaterialPrice.FrmMaterialPrice, Com.GainWinSoft.ERP.MaterialPrice"
          lifestyle="transient" />
    
    <component id="FrmOrderEntry"
        service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
        type="Com.GainWinSoft.ERP.OrderEntry.FrmOrderEntry, Com.GainWinSoft.ERP.OrderEntry"
        lifestyle="transient" />

    <component id="FrmOrderEntryDetail"
    service="Com.GainWinSoft.Common.IBaseContent,Com.GainWinSoft.Common"
    type="Com.GainWinSoft.ERP.OrderEntry.FrmOrderEntryDetail, Com.GainWinSoft.ERP.OrderEntry"
    lifestyle="transient" />

  </components>
</configuration>