<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>


    <!--  <component id="Action_MaterialSearch"
      type="Com.GainWinSoft.ERP.Material.Action.Action_MaterialSearch, Com.GainWinSoft.ERP.Material" />-->
    
    <component id="Com.GainWinSoft.ERP.ReportCenter.Rdlc.RdlcPmMs.rdlc"
      service="Com.GainWinSoft.ERP.ReportCenter.Action.IAction_Report,Com.GainWinSoft.ERP.ReportCenter"
      type="Com.GainWinSoft.ERP.ReportCenter.Action.Action_RdlcPmMs, Com.GainWinSoft.ERP.ReportCenter" />



  </components>
</configuration>