<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="Action_TestCode"
      service="Com.ChangeSoft.ERP.CodeRef.Action.IAction_TestCode,Com.ChangeSoft.ERP.CodeRef"
      type="Com.ChangeSoft.ERP.CodeRef.Action.Action_TestCode, Com.ChangeSoft.ERP.CodeRef" />

  </components>
</configuration>