<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="Action_MainForm"
      service="Com.ChangeSoft.ERP.Action.IAction_MainForm,Com.ChangeSoft.ERP"
      type="Com.ChangeSoft.ERP.Action.Action_MainForm, Com.ChangeSoft.ERP" />

  </components>
</configuration>