<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="FCompany"
      type="Com.GainWinSoft.ERP.Company, Com.GainWinSoft.ERP" />
    
    <component id="FQuotationEntry"
      type="Com.GainWinSoft.ERP.ProductPlan, Com.GainWinSoft.ERP" />

  </components>
</configuration>