<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="IAction_FrmExchangeRate"
          service="Com.GainWinSoft.ERP.ExchangeRate.Action.IAction_FrmExchangeRate,Com.GainWinSoft.ERP.ExchangeRate"
          type="Com.GainWinSoft.ERP.ExchangeRate.Action.Action_FrmExchangeRate, Com.GainWinSoft.ERP.ExchangeRate" />
    
    
    
  </components>
</configuration>