<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="TestDao"
      service="Com.ChangeSoft.ERP.Entity.Dao.ITestDao,Com.ChangeSoft.ERP.Entity"
      type="Com.ChangeSoft.ERP.Entity.Dao.TestDaoOracleImp, Com.ChangeSoft.ERP.Entity" />
    <component id="Test2Dao"
      service="Com.ChangeSoft.ERP.Entity.Dao.ITest2Dao,Com.ChangeSoft.ERP.Entity"
      type="Com.ChangeSoft.ERP.Entity.Dao.Test2DaoOracleImp, Com.ChangeSoft.ERP.Entity" />

    <component id="MFunctioncatalogDao"
      service="Com.ChangeSoft.ERP.Entity.Dao.IMFunctioncatalogDao,Com.ChangeSoft.ERP.Entity"
      type="Com.ChangeSoft.ERP.Entity.Dao.MFunctioncatalogDaoOracleImp, Com.ChangeSoft.ERP.Entity" />

    <component id="CFunctionAllDao"
          service="Com.ChangeSoft.ERP.Entity.Dao.ICFunctionAllDao,Com.ChangeSoft.ERP.Entity"
          type="Com.ChangeSoft.ERP.Entity.Dao.CFunctionAllDaoOracleImp, Com.ChangeSoft.ERP.Entity" />

    <component id="CPagerDao"
      service="Com.ChangeSoft.ERP.Entity.Dao.ICPagerDao,Com.ChangeSoft.ERP.Entity"
      type="Com.ChangeSoft.ERP.Entity.Dao.CPagerDaoOracleImp, Com.ChangeSoft.ERP.Entity" />

  </components>
</configuration>