<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="TestDao"
      service="Com.ChangeSoft.ERP.Entity.Dao.ITestDao,Com.ChangeSoft.ERP.Entity"
      type="Com.ChangeSoft.ERP.Entity.Dao.TestDaoOracleImp, Com.ChangeSoft.ERP.Entity" />

  </components>
</configuration>