<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
  
    <component id="Action_Factory"
      service="Com.GainWinSoft.ERP.Factory.Action.IAction_Factory,Com.GainWinSoft.ERP.Factory"
      type="Com.GainWinSoft.ERP.Factory.Action.Action_Factory, Com.GainWinSoft.ERP.Factory" />

  </components>
</configuration>