<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>


    <!--  <component id="Action_MaterialSearch"
      type="Com.GainWinSoft.ERP.Material.Action.Action_MaterialSearch, Com.GainWinSoft.ERP.Material" />-->
    
    <component id="Action_MaterialSearch"
      service="Com.GainWinSoft.ERP.Material.Action.IAction_MaterialSearch,Com.GainWinSoft.ERP.Material"
      type="Com.GainWinSoft.ERP.Material.Action.Action_MaterialSearch, Com.GainWinSoft.ERP.Material" />



  </components>
</configuration>