<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="FCompany"
      type="Com.ChangeSoft.ERP.Company, Com.ChangeSoft.ERP" />
    
    <component id="FQuotationEntry"
      type="Com.ChangeSoft.ERP.ProductPlan, Com.ChangeSoft.ERP" />

  </components>
</configuration>