<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="Action_FrmCompany"
      service="Com.GainWinSoft.ERP.Company.Action.IAction_FrmCompany,Com.GainWinSoft.ERP.Company"
      type="Com.GainWinSoft.ERP.Company.Action.Action_FrmCompany, Com.GainWinSoft.ERP.Company" />

  </components>
</configuration>