<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="Action_MainForm"
      service="Com.GainWinSoft.ERP.Action.IAction_MainForm,Com.GainWinSoft.ERP"
      type="Com.GainWinSoft.ERP.Action.Action_MainForm, Com.GainWinSoft.ERP" />

  </components>
</configuration>