<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="Action_TestCode"
      service="Com.GainWinSoft.ERP.CodeRef.Action.IAction_TestCode,Com.GainWinSoft.ERP.CodeRef"
      type="Com.GainWinSoft.ERP.CodeRef.Action.Action_TestCode, Com.GainWinSoft.ERP.CodeRef" />
    
    <component id="Action_CodeRefClsDetail"
      service="Com.GainWinSoft.ERP.CodeRef.Action.IAction_CodeRefClsDetail,Com.GainWinSoft.ERP.CodeRef"
      type="Com.GainWinSoft.ERP.CodeRef.Action.Action_CodeRefClsDetail, Com.GainWinSoft.ERP.CodeRef" />

    <component id="Action_CodeRefTradeForMaterial"
      service="Com.GainWinSoft.ERP.CodeRef.Action.IAction_CodeRefTradeForMaterial,Com.GainWinSoft.ERP.CodeRef"
      type="Com.GainWinSoft.ERP.CodeRef.Action.Action_CodeRefTradeForMaterial, Com.GainWinSoft.ERP.CodeRef" />

      <component id="Action_CodeRefFactory"
        service="Com.GainWinSoft.ERP.CodeRef.Action.IAction_CodeRefFactory,Com.GainWinSoft.ERP.CodeRef"
        type="Com.GainWinSoft.ERP.CodeRef.Action.Action_CodeRefFactory, Com.GainWinSoft.ERP.CodeRef" />

      <component id="Action_CodeRefSection"
        service="Com.GainWinSoft.ERP.CodeRef.Action.IAction_CodeRefSection,Com.GainWinSoft.ERP.CodeRef"
        type="Com.GainWinSoft.ERP.CodeRef.Action.Action_CodeRefSection, Com.GainWinSoft.ERP.CodeRef" />

  </components>
</configuration>