<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="TestDao"
      service="Com.GainWinSoft.ERP.Entity.Dao.ITestDao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.TestDaoOracleImp, Com.GainWinSoft.ERP.Entity" />
    <component id="Test2Dao"
      service="Com.GainWinSoft.ERP.Entity.Dao.ITest2Dao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.Test2DaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="MFunctioncatalogDao"
      service="Com.GainWinSoft.ERP.Entity.Dao.IMFunctioncatalogDao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.MFunctioncatalogDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="CCatalogHasManyFunctionDao"
          service="Com.GainWinSoft.ERP.Entity.Dao.ICCatalogHasManyFunctionDao,Com.GainWinSoft.ERP.Entity"
          type="Com.GainWinSoft.ERP.Entity.Dao.CCatalogHasManyFunctionDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="CFunctionPagerNoARDao"
      service="Com.GainWinSoft.ERP.Entity.Dao.ICPagerDao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.CFunctionPagerNoARDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="TDescMsDao"
      service="Com.GainWinSoft.ERP.Entity.Dao.ITDescMsDao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.TDescMsDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="CClsDetailBelongToClsMsDao"
      service="Com.GainWinSoft.ERP.Entity.Dao.ICClsDetailBelongToClsMsDao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.CClsDetailBelongToClsMsDaoOracleImp, Com.GainWinSoft.ERP.Entity" />
    
    <component id="MLoginUserDao"
       service="Com.GainWinSoft.ERP.Entity.Dao.IMLoginUserDao,Com.GainWinSoft.ERP.Entity"
       type="Com.GainWinSoft.ERP.Entity.Dao.MLoginUserDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="CCatalogFunctionNoARDao"
        service="Com.GainWinSoft.ERP.Entity.Dao.ICCatalogFunctionNoARDao,Com.GainWinSoft.ERP.Entity"
        type="Com.GainWinSoft.ERP.Entity.Dao.CCatalogFunctionNoARDaoOracleImp, Com.GainWinSoft.ERP.Entity" />


    <component id="CClsDetailNoARDao"
        service="Com.GainWinSoft.ERP.Entity.Dao.ICClsDetailNoARDao,Com.GainWinSoft.ERP.Entity"
        type="Com.GainWinSoft.ERP.Entity.Dao.CClsDetailNoARDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="TTermMsDao"
         service="Com.GainWinSoft.ERP.Entity.Dao.ITTermMsDao,Com.GainWinSoft.ERP.Entity"
         type="Com.GainWinSoft.ERP.Entity.Dao.TTermMsDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="TFactoryMsDao"
        service="Com.GainWinSoft.ERP.Entity.Dao.ITFactoryMsDao,Com.GainWinSoft.ERP.Entity"
        type="Com.GainWinSoft.ERP.Entity.Dao.TFactoryMsDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="TPersonMsDao"
           service="Com.GainWinSoft.ERP.Entity.Dao.ITPersonMsDao,Com.GainWinSoft.ERP.Entity"
           type="Com.GainWinSoft.ERP.Entity.Dao.TPersonMsDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="TCompanyConditionMsDao"
           service="Com.GainWinSoft.ERP.Entity.Dao.ITCompanyConditionMsDao,Com.GainWinSoft.ERP.Entity"
           type="Com.GainWinSoft.ERP.Entity.Dao.TCompanyConditionMsDaoOracleImp, Com.GainWinSoft.ERP.Entity" />
    
    <component id="CCodeRefTradeForMaterialNoARDao"
       service="Com.GainWinSoft.ERP.Entity.Dao.ICCodeRefTradeForMaterialNoARDao,Com.GainWinSoft.ERP.Entity"
       type="Com.GainWinSoft.ERP.Entity.Dao.CCodeRefTradeForMaterialNoARDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

      <component id="CTableDropDownListNoARDao"
         service="Com.GainWinSoft.ERP.Entity.Dao.ICTableDropDownListNoARDao,Com.GainWinSoft.ERP.Entity"
         type="Com.GainWinSoft.ERP.Entity.Dao.CTableDropDownListNoARDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="CTPmMsNoARDao"
       service="Com.GainWinSoft.ERP.Entity.Dao.ICTPmMsNoARDao,Com.GainWinSoft.ERP.Entity"
       type="Com.GainWinSoft.ERP.Entity.Dao.CTPmMsNoARDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="CTPmMsPagerNoARDao"
      service="Com.GainWinSoft.ERP.Entity.Dao.ICPagerDao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.CTPmMsPagerNoARDaoOracleImp, Com.GainWinSoft.ERP.Entity" />

    <component id="TRateStpDao"
      service="Com.GainWinSoft.ERP.Entity.Dao.ITRateStpDao,Com.GainWinSoft.ERP.Entity"
      type="Com.GainWinSoft.ERP.Entity.Dao.TRateStpDaoOracleImp, Com.GainWinSoft.ERP.Entity" />
        

  </components>
</configuration>