<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <facilities>
        <facility
           id="typedFactory"
           type="Castle.Facilities.TypedFactory.TypedFactoryFacility, Castle.Windsor">
            <factories>
                <factory id="repositoryFactory"
                   interface="Com.GainWinSoft.Common.IRepositoryFactory, Com.GainWinSoft.Common"
                   creation="Create" destruction="Release"  />
            </factories>
        </facility>
    </facilities>
</configuration>