<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
                     type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor"/>
  </configSections>
  <castle>
    <include uri="file://Dao.config"/>
    <include uri="file://Service.config"/>
    <include uri="file://Action_Company.config"/>
  </castle>
  
  <appSettings>
    <add key="defaultlanguage" value="zh-CN"/>
  </appSettings>
</configuration>